*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: lightgray;
    font-family: 'Poppins', sans-serif;
}
h3{
    font-size: 20px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
li{
    font-size: 18px;
    color: white;
}
nav{
    background-color: green;
    padding: 20px;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    color: white;
}
.food-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 50px;
}
.fruit-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 200px;
    background-color: lawngreen;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    font-weight: bold;
}

.vegetable-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 200px;
    background-color: lawngreen;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    font-weight: bold;
}
.rootcrop-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 200px;
    background-color: lawngreen;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    font-weight: bold;
}
.peanut-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 200px;
    background-color: lawngreen;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    font-weight: bold;
}